body{
	background-image: url("../images/starwarbackground.jpg");
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: 'Luckiest Guy', cursive;
}

#defender{
	margin-bottom: 10px;
}

.mainHeading{
	font-family: inherit;
	font-size: 40px;
	color: #fa0;
	text-align: center;
	margin: 3px 0px;
	word-spacing: 6px;
	letter-spacing: 3.5px;
}

.chrStyle{
	border: 2px solid blue;
	background-color: #fff;
}

.yourChrStyle{
	border: 2px solid blue;
	background-color: #fff;
}

.enemiesStyle{
	border: 2px solid orange;
	background-color: #600;
	color: #fff;
}

.defenderStyle{
	border: 2px solid #fff;
	background-color: #000;
	color: #fff;
}

.resButton{
	display:none;
}

.attackStatus{
	display: none;
}

.attackStatusDisp{
	display: block;
}

p{
	font-family: inherit;
	font-size: 14px;
	color: orange;
	letter-spacing: 2px;
	word-spacing: 3.5px ;

}

h5{
	font-size: 15px;
	font-family: inherit;
	text-align: center;
	margin:2px;
}

h3{
	font-size: 22px;
	font-family: inherit;
	text-align: left;
	margin-top: 12px;
	color:yellow;
	letter-spacing: 2px;
	word-spacing: 4.5px;
	text-shadow: 2px 2px green;
}

.h2Style{
	font-size: 40px;
	font-family: inherit;
	text-align: left;
	margin-top: 12px;
	color: green;
}

img{
	display: inline-block;
}